@{

    ViewBag.Title = "Home Page";
    Layout = null;
}



<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
 <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <title>
        Saechnikov Aleksey
    </title>
    <link rel="stylesheet" href="https://byjakt.com/wp-content/themes/jakt/public/assets/css/index.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="https://byjakt.com/xmlrpc.php" />
    <link rel="shortcut icon" href="https://byjakt.com/wp-content/themes/jakt/public/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://byjakt.com/wp-content/themes/jakt/public/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://byjakt.com/wp-content/themes/jakt/public/assets/images/favicon-32x32.jpg" sizes="32x32" />
    <link rel="icon" href="https://byjakt.com/wp-content/themes/jakt/public/assets/images/favicon-192x192.jpg" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="https://byjakt.com/wp-content/themes/jakt/public/assets/css/favicon-180x180.jpg" />
    <link href='https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700|Work+Sans:300,400,700|Merriweather:300' rel='stylesheet' type='text/css'>
   


    <!-- This site is optimized with the Yoast SEO plugin v9.2.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="Digital product and innovation studio in NYC specializing in mobile and web application design, development and product strategy for startups and Fortune 500 companies." />
    <link rel="canonical" href="https://byjakt.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="NYC Digital Product &amp; Innovation Studio" />
    <meta property="og:description" content="Digital product and innovation studio in NYC specializing in mobile and web application design, development and product strategy for startups and Fortune 500 companies." />
    <meta property="og:url" content="https://byjakt.com/" />
    <meta property="og:site_name" content="Jakt" />
    <meta property="og:image" content="https://byjakt.com/wp-content/uploads/2018/07/17239822_995062747260335_5844636521845139585_o.jpg" />
    <meta property="og:image:secure_url" content="https://byjakt.com/wp-content/uploads/2018/07/17239822_995062747260335_5844636521845139585_o.jpg" />
    <meta property="og:image:width" content="1904" />
    <meta property="og:image:height" content="1000" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Digital product and innovation studio in NYC specializing in mobile and web application design, development and product strategy for startups and Fortune 500 companies." />
    <meta name="twitter:title" content="NYC Digital Product &amp; Innovation Studio" />
    @*<meta name="twitter:site" content="@byjakt" />*@
    <meta name="twitter:image" content="https://byjakt.com/wp-content/uploads/2018/07/17239822_995062747260335_5844636521845139585_o.jpg" />
    
   
    <meta name="google-site-verification" content="wenqfqElrlMoX0dYiw-C6xz6ZnYBZY7q4gH-L6JAfgM" />
    <!-- / Yoast SEO plugin. -->

    @*<link rel='dns-prefetch' href='//a.optmnstr.com' />*@
    <link rel='dns-prefetch' href='//s.w.org' />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/byjakt.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.9"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wptables-public-css' href='https://byjakt.com/wp-content/plugins/wptables/build/css/wptables.min.css?ver=1.3.9' type='text/css' media='all' />
    <script type='text/javascript' src='https://byjakt.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://byjakt.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='https://byjakt.com/wp-content/plugins/wptables/build/js/wptables.min.js?ver=1.3.9'></script>
    @*<script type='text/javascript' data-cfasync="false" id="omapi-script" async="async" src='https://a.optmnstr.com/app/js/api.min.js'></script>*@
    <link rel='https://api.w.org/' href='https://byjakt.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://byjakt.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://byjakt.com/wp-includes/wlwmanifest.xml" />
    <!-- Google Analytics -->
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-68577218-1', 'auto');
ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <meta name="ahrefs-site-verification" content="f2e25658f462ff624d543d8d04a86f76446daeaeeac8fb7e6c2995126e860cd4">
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PWHZWQF');</script>
    <!-- End Google Tag Manager -->
    <meta name="google-site-verification" content="fbxIFWcHOKVhssjMI6K2PxVi89Yh_N8B0pt2zPwOmGE" />

    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
_atrk_opts = { atrk_acct:"ukavq19jYF20V1", domain:"byjakt.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
    </script>

    <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=ukavq19jYF20V1" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->
    <!-- Start of Async Drift Code -->
    <script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('5za48mwc4sdm');
    </script>
    <!-- End of Async Drift Code -->
    <meta name="p:domain_verify" content="50817e90231cc125e5ffc3005ce079a2" /><!-- site-navigation-element Schema optimized by Schema Pro -->
    <script type="application/ld+json">
        @*{"@context":"https:\/\/schema.org","@graph":[{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Process","url":"https:\/\/byjakt.com\/process\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Partners","url":"https:\/\/byjakt.com\/partners\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Thoughts","url":"https:\/\/byjakt.com\/thoughts\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Jobs","url":"https:\/\/angel.co\/jakt\/jobs"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Contact","url":"https:\/\/byjakt.com\/contact\/"}]}*@
    </script><!-- / site-navigation-element Schema optimized by Schema Pro -->
    @*<style type="text/css" id="wp-custom-css">
			h1 {
    display: block;
    font-size: 40px !important;
    font-weight: bold;
		letter-spacing: 0px !important;
		text-transform: none !important;
}


h2, h3, h4 {
		text-transform: capitalize !important;
	letter-spacing: 0px !important;
}

li {
	padding: 15px;
	font-size: 20px;
}


p {
	font-size: 20px;
	font-weight: 400;
}

.rt-reading-time {
	font-size: 20px !important;
}

.post__terms {
display: none;

}


.post__subtitle {
    font-size: 3vw;
    line-height: 4vw;
		opacity: 1;

}

.post__content a {
    color: #000000;

}

.post__content {
	padding: 50px 15% 5%;
}

.nf-form-fields-required {
	margin-left: 5px;
}
#nf-field-10{
		color: #121213;
    font-weight: 500;
    border-bottom: 3px solid #121213 !important;
    text-decoration: none !important;
    font-size: 28px !important;
    padding-bottom: 4px !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    text-align: center !important;
    margin: auto !important;
    display: block !important;}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

		.post__content { padding: 25px 7% 5%; }


}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
		.post__content { padding: 25px 7% 5%; }
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
		.post__content { padding: 25px 7% 5%; }
}

/* -------- Contact Form Homepage ----*/
.nf-before-form-content {display: none !important;}

#contact-hp {
	max-width: 500px;
display: block;
margin: auto;
}
@media screen and (max-width: 768px) {
#contact-hp {

}}
@media screen and (min-width: 768px) {
#contact-hp-mobile {
display: none;
}}
#nf-field-35 {
font-size: 18px;
}
#nf-field-36 {
font-size: 18px;
}
#nf-field-37 {
font-size: 18px;
}
#nf-field-32 {
font-size: 18px;
}
#nf-field-38{
font-size: 18px;
}
#nf-field-39{
font-size: 18px;
}
#nf-field-34{background: #000;
   border: solid 1px #000;
   color: #fff;
   width: 175px;
   padding-top: 10px;
   padding-bottom: 10px;
font-size: 18px;
    font-family: "Proxima-Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;}

#nf-field-34:hover{
	background: #fff;
   border: solid 1px #000;
   color: #000;
}
.nf-error-required-error {
	font-size: 12px !important;
}
.nf-error-msg {
font-size: 12px;
	margin-top:0px;
}

.footer-contact-mobile {
display: none;
}

.president-block{
	display: block;
	min-height: 300px;
}

.president-left {
	float: left;
	width: 25%;
}

.president-right {
	float: right;
width: 75%;
}

@media screen and (max-width: 1024px) {
	.president-block{
	display: block;
	min-height: 350px;
}

.president-left {
	float: left;
	width: 30%;
}

.president-right {
	float: left;
width: 70%;
}

	.img-president {
		margin: auto;
	}
}

@media screen and (max-width: 768px) {
	.president-block{
	display: block;
	min-height: 300px;
}

.president-left {
	float: left;
	width: 100%;
}

.president-right {
	float: left;
width: 100%;
}

	.img-president {
		margin: auto;
	}
}		</style>*@

</head>


<body class="" data-template="base.twig">
    <header class="header">
        <h2 class="header__logo">
            <a href="/" class="header__logo-link">
                <img class="header__logo-img" src="https://byjakt.com/wp-content/themes/jakt/public/assets/images/jakt-dark-logo.svg" alt="JAKT" width="67" height="39" />
            </a>
        </h2>
        <nav class="header__menu">
            <a class="header__menu-item text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-45" target="" href="https://byjakt.com/process/">Process</a>
            <a class="header__menu-item text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-46" target="" href="https://byjakt.com/partners/">Partners</a>
            <a class="header__menu-item text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-99" target="" href="https://byjakt.com/thoughts/">Thoughts</a>
            <a class="header__menu-item text-visibility  menu-item menu-item-type-custom menu-item-object-custom menu-item-729" target="" href="https://angel.co/jakt/jobs">Jobs</a>
            <a class="header__menu-item text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-501" target="" href="/contact/">Contact</a>
        </nav>

        <div class="menu-mobile__button js-menu-mobile-open"><i class="ti-menu"></i></div>

        <div class="menu-mobile js-menu-mobile">
            <div class="menu-mobile__close js-menu-mobile-close"><i class="ti-close"></i></div>
            <div class="menu-mobile__content">
                <a href="/" class="menu-mobile__logo"><img src="https://byjakt.com/wp-content/themes/jakt/public/assets/images/jakt-white-logo.svg" alt="JAKT" /></a>
                <ul class="menu-mobile__list">
                    <li class="menu-mobile__item">
                        <a class="menu-mobile__link text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-45" target="" href="https://byjakt.com/process/">Process</a>
                    </li>
                    <li class="menu-mobile__item">
                        <a class="menu-mobile__link text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-46" target="" href="https://byjakt.com/partners/">Partners</a>
                    </li>
                    <li class="menu-mobile__item">
                        <a class="menu-mobile__link text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-99" target="" href="https://byjakt.com/thoughts/">Thoughts</a>
                    </li>
                    <li class="menu-mobile__item">
                        <a class="menu-mobile__link text-visibility  menu-item menu-item-type-custom menu-item-object-custom menu-item-729" target="" href="https://angel.co/jakt/jobs">Jobs</a>
                    </li>
                    <li class="menu-mobile__item">
                        <a class="menu-mobile__link text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-501" target="" href="https://byjakt.com/contact/">Contact</a>
                    </li>
                </ul>

                <div class="menu-mobile__text">
                    <a class="menu-mobile__mail text-visibility" href="mailto:info@byjakt.com">info@byjakt.com</a>
                </div>
                <nav class="menu-mobile__social-media">
                    <a class="menu-mobile__social-media-item" target="_blank" href="http://twitter.com/byjakt"><i class="ti-twitter-alt"></i></a>
                    <a class="menu-mobile__social-media-item" target="_blank" href="http://facebook.com/byjakt"><i class="ti-facebook"></i></a>
                    <a class="menu-mobile__social-media-item" target="_blank" href="http://instagram.com/byjakt"><i class="ti-instagram"></i></a>
                    <a class="menu-mobile__social-media-item" target="_blank" href="https://medium.com/thoughts-byjakt/"><i class="fa fa-medium"></i></a>
                </nav>
            </div>
        </div>
    </header>

    <div id="fullpage">

        <section class="section section--fullscreen section--light section--home"
                 data-fullpage-section="home">
            <article class="section__content section__content--fullscreen section__content--light section__content--home section__content--center section__content--home"
                     style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-stars-dark.svg)">

                <div class="o-container">
                    <div class="section__content-wrapper">
                        <h2 class="section__content-title section__content-title--light futura-title">
                            Digital Product &#038; Innovation Studio
                        </h2>



                        <a class="o-link o-link--size-normal o-link--normal text-visibility"
                           href="https://byjakt.com/contact/">work with us</a>
                    </div>
                </div>

                <article>
        </section>
        <section class="section section--fullscreen section--dark section--who-we-are"
                 data-fullpage-section="who-we-are">
            <article class="section__content section__content--fullscreen section__content--dark section__content--who-we-are section__content--left section__content--who-we-are"
                     style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-why.svg)">

                <div class="o-container">
                    <div class="section__content-wrapper">
                        <h2 class="section__content-title section__content-title--dark futura-title">
                            Who We Are
                        </h2>

                        <div class="section__content-text section__content-text--underline text-visibility">
                            <p><span style="font-weight: 400;">Jakt is a digital product &amp; innovation studio. We partner with companies of all sizes, from startups to enterprises, to create bespoke digital products that solve problems. How do we do this? Through a mix of product strategy, business strategy, design, software development and marketing. We aim to positively impact the lives of 100 million people through solutions we’ve created by 2027. </span></p>

                        </div>


                    </div>
                </div>

                <article>
        </section>
        <section class="section section--fullscreen section--light section--our-philosophy"
                 data-fullpage-section="our-philosophy">
            <article class="section__content section__content--fullscreen section__content--light section__content--our-philosophy section__content--left section__content--our-philosophy"
                     style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-stars-dark-vertical.svg)">

                <div class="o-container">
                    <div class="section__content-wrapper">
                        <h2 class="section__content-title section__content-title--light futura-title">
                            Our Philosophy
                        </h2>

                        <div class="section__content-text text-visibility">
                            <p>Our philosophy is simple. We are committed to creating innovative solutions with any business, brand or individual looking to make an impact. We’ve been refining our process since 2012. With each new project we bring everything we’ve learned to the table while gaining new insight that may better our process even more for the future. We treat our process like a product: we’re constantly innovating on it using the same framework and methods we use to build digital products and businesses.</p>

                        </div>

                        <div class="block-line text-visibility">When you partner with Jakt, you get the benefit of years of work and hundreds of projects which have all contributed to the creation and refinement of the our approach & methodology.</div>
                    </div>
                </div>

                <article>
        </section>
        <section class="section section--fullscreen section--quote section--our-approach"
                 data-fullpage-section="our-approach">
            <article class="section__content section__content--fullscreen section__content--quote section__content--our-approach section__content--center section__content--our-approach"
                     style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-stars-light-quote.svg)">

                <div class="o-container">
                    <div class="section__content-wrapper">
                        <h2 class="section__content-title section__content-title--quote futura-title">
                            Our Approach
                        </h2>

                        <div class="section__content-text text-visibility">
                            <p style="text-align: left;"><span style="font-weight: 400;">Building the best product requires first understanding the problem. This is the foundation of everything we do. Only then can we identify the best solution to that problem, which is both a solution that customers love and is viable from a business standpoint. </span></p>
                            <p style="text-align: left;">Pixel perfect designs, mobile apps, websites. These aren’t solutions, these are tools, just like countless other things in our toolbox like blockchain, voice apps, artificial intelligence, graphic design, facebook ads, etc.</p>
                            <p style="text-align: left;">Our toolbox is extensive, diverse, and constantly growing; but tools are only valuable if you know which to use and how to use them.</p>

                        </div>


                    </div>
                </div>

                <article>
        </section>
        <section class="section section--fullscreen section--light section--the-jakt-method"
                 data-fullpage-section="the-jakt-method">
            <article class="section__content section__content--fullscreen section__content--light section__content--the-jakt-method section__content--left section__content--the-jakt-method">

                <div class="o-container">
                    <div class="section__content-wrapper">
                        <h2 class="section__content-title section__content-title--light futura-title">
                            The Jakt Method
                        </h2>

                        <div class="section__content-text text-visibility">
                            <p>First and foremost, we seek clarity. What is the problem? Why is it a problem? Why do you want to solve it? What are your short term and long term goals? From there, we ask ourselves how we can combine business strategy, product strategy, design, technology and marketing to help you achieve them. With a clear understanding of the goals and values behind a project, we can implement mindful strategies and produce the solutions and products necessary to increase the odds of success.</p>
                            <p>At Jakt, we are a collective of minds collaborating every day to produce the best possible work for our partners. As a partner you become part of the process, using your skills and expertise in collaboration with ours to solve problems, create products and build companies together.</p>

                        </div>


                    </div>
                </div>

                <article>
        </section>
        <section class="section section--fullscreen section--brands section--partners"
                 data-fullpage-section="partners">
            <article class="section__content section__content--fullscreen section__content--brands section__content--partners section__content--left section__content--partners">



                <div class="section__brands">
                    <div class="section__brands-wrapper">
                        <h2 class="section__brands-title--mobile futura-title">Our Partners</h2>
                        <div class="section__brands-block-text">
                            <h2 class="section__brands-title text-visibility">
                                We work with top companies to solve big problems.
                            </h2>

                            <a class="o-link o-link--size-medium o-link--normal o-link--light text-visibility"
                               href="https://byjakt.com/partners/">see more</a>
                        </div>

                        <div class="section__brands-content">
                            <div class="section__brands-items">
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/airtime.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/netflix-1.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/jopwell-2.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/slash.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/montejo-1.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/ideo-1.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/alley.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/squadup-1.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/vegas.png" class="section__brands-img" />
                                </div>
                            </div>
                            <div class="section__brands-items">
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/airtime.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/netflix-1.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/jopwell-2.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/slash.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/montejo-1.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/ideo-1.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/alley.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/squadup-1.png" class="section__brands-img" />
                                </div>
                                <div class="section__brands-item">
                                    <img src="https://byjakt.com/wp-content/uploads/2017/09/vegas.png" class="section__brands-img" />
                                </div>
                            </div>
                        </div>

                        <div class="section__brands-link-mobile">
                            <a class="o-link o-link--size-medium o-link--normal o-link--light text-visibility"
                               href="https://byjakt.com/partners/">see more</a>
                        </div>
                    </div>
                </div>


                <article>
        </section>
        <section class="section section--fullscreen section--light section--contact"
                 data-fullpage-section="contact">
            <article class="section__content section__content--fullscreen section__content--light section__content--contact section__content--center section__content--contact"
                     style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-stars-light-contact.svg)">

                <div class="o-container">
                    <div class="section__content-wrapper">
                        <h2 class="section__content-title section__content-title--light futura-title">
                            Want to work with us?
                        </h2>

                        <div class="section__content-text text-visibility">
                            <p><span>Connect with our team regarding an upcoming project or transformation need. </span></p>
                            <div id="contact-hp">
                                <noscript class="ninja-forms-noscript-message">
                                    Notice: JavaScript is required for this content.
                                </noscript>
                                <style>

                                    /* FIELDS STYLES */

                                    .nf-form-content .nf-field-container #nf-field-35-wrap .nf-field-label label {
                                        border-bottom: 1px solid black;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        padding-bottom: 10px;
                                    }

                                    .nf-form-content .nf-field-container #nf-field-35-wrap .nf-field-element .ninja-forms-field {
                                        border-bottom: 1px solid black;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        padding-bottom: 10px;
                                    }

                                    .nf-form-content .nf-field-container #nf-field-37-wrap .nf-field-label label {
                                        border-bottom: 1px solid black;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        padding-bottom: 10px;
                                    }

                                    .nf-form-content .nf-field-container #nf-field-37-wrap .nf-field-element .ninja-forms-field {
                                        border-bottom: 1px solid black;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        padding-bottom: 10px;
                                    }

                                    .nf-form-content .nf-field-container #nf-field-39-wrap .nf-field-label label {
                                        border-bottom: 1px solid black;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        padding-bottom: 10px;
                                    }

                                    .nf-form-content .nf-field-container #nf-field-39-wrap .nf-field-element .ninja-forms-field {
                                        border-bottom: 1px solid black;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        padding-bottom: 10px;
                                    }

                                    .nf-form-content .nf-field-container #nf-field-32-wrap .nf-field-label label {
                                        border-bottom: 1px solid black;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        padding-bottom: 10px;
                                    }

                                    .nf-form-content .nf-field-container #nf-field-32-wrap .nf-field-element .ninja-forms-field {
                                        border-bottom: 1px solid black;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        padding-bottom: 10px;
                                    }

                                    .nf-form-content .nf-field-container #nf-field-34-wrap {
                                    }
                                </style><div id="nf-form-3-cont" class="nf-form-cont" aria-live="polite" aria-labelledby="nf-form-title-3" aria-describedby="nf-form-errors-3" role="form">

                                    <div class="nf-loading-spinner"></div>

                                </div>
                                <!-- TODO: Move to Template File. -->
                                <script>var formDisplay=1;var nfForms=nfForms||[];var form=[];form.id='3';form.settings={"objectType":"Form Setting","editActive":true,"title":"Project Contact Form - Homepage","key":"","created_at":"2018-08-17 14:35:44","default_label_pos":"above","conditions":[],"show_title":0,"clear_complete":"1","hide_complete":0,"wrapper_class":"","element_class":"","add_submit":"1","logged_in":"","not_logged_in_msg":"","sub_limit_number":"","sub_limit_msg":"","calculations":[],"formContentData":[{"formContentData":[{"order":1,"cells":[{"order":0,"fields":["name_1534537224848"],"width":50},{"order":1,"fields":["company_1534531178005"],"width":50}]},{"order":2,"cells":[{"order":0,"fields":["phone_1534537284943"],"width":50},{"order":1,"fields":["email_address_1534532640403"],"width":50}]},{"order":5,"cells":[{"order":0,"fields":["submit_1534532937972"],"width":"100"}]},{"order":6,"cells":[{"order":0,"fields":["ga_medium"],"width":"100"}]},{"order":7,"cells":[{"order":0,"fields":["ga_campaign"],"width":"100"}]},{"order":8,"cells":[{"order":0,"fields":["ga_source"],"width":"100"}]},{"order":9,"cells":[{"order":0,"fields":["ga_term"],"width":"100"}]},{"order":10,"cells":[{"order":0,"fields":["ga_content"],"width":"100"}]},{"order":11,"cells":[{"order":0,"fields":["landing_page"],"width":"100"}]},{"order":12,"cells":[{"order":0,"fields":["conversion_page"],"width":"100"}]}],"order":0,"type":"part","clean":true,"title":"Part Title","key":"kcphlfpk"}],"container_styles_background-color":"","container_styles_border":"","container_styles_border-style":"","container_styles_border-color":"","container_styles_color":"","container_styles_height":"","container_styles_width":"","container_styles_font-size":"","container_styles_margin":"","container_styles_padding":"","container_styles_display":"","container_styles_float":"","container_styles_show_advanced_css":"0","container_styles_advanced":"","title_styles_background-color":"","title_styles_border":"","title_styles_border-style":"","title_styles_border-color":"","title_styles_color":"","title_styles_height":"","title_styles_width":"","title_styles_font-size":"","title_styles_margin":"","title_styles_padding":"","title_styles_display":"","title_styles_float":"","title_styles_show_advanced_css":"0","title_styles_advanced":"","row_styles_background-color":"","row_styles_border":"","row_styles_border-style":"","row_styles_border-color":"","row_styles_color":"","row_styles_height":"","row_styles_width":"","row_styles_font-size":"","row_styles_margin":"","row_styles_padding":"","row_styles_display":"","row_styles_show_advanced_css":"0","row_styles_advanced":"","row-odd_styles_background-color":"","row-odd_styles_border":"","row-odd_styles_border-style":"","row-odd_styles_border-color":"","row-odd_styles_color":"","row-odd_styles_height":"","row-odd_styles_width":"","row-odd_styles_font-size":"","row-odd_styles_margin":"","row-odd_styles_padding":"","row-odd_styles_display":"","row-odd_styles_show_advanced_css":"0","row-odd_styles_advanced":"","success-msg_styles_background-color":"","success-msg_styles_border":"","success-msg_styles_border-style":"","success-msg_styles_border-color":"","success-msg_styles_color":"","success-msg_styles_height":"","success-msg_styles_width":"","success-msg_styles_font-size":"","success-msg_styles_margin":"","success-msg_styles_padding":"","success-msg_styles_display":"","success-msg_styles_show_advanced_css":"0","success-msg_styles_advanced":"","error_msg_styles_background-color":"","error_msg_styles_border":"","error_msg_styles_border-style":"","error_msg_styles_border-color":"","error_msg_styles_color":"","error_msg_styles_height":"","error_msg_styles_width":"","error_msg_styles_font-size":"","error_msg_styles_margin":"","error_msg_styles_padding":"","error_msg_styles_display":"","error_msg_styles_show_advanced_css":0,"error_msg_styles_advanced":"","changeEmailErrorMsg":"Please enter a valid email address!","changeDateErrorMsg":"Please enter a valid date!","confirmFieldErrorMsg":"These fields must match!","fieldNumberNumMinError":"Number Min Error","fieldNumberNumMaxError":"Number Max Error","fieldNumberIncrementBy":"Please increment by ","formErrorsCorrectErrors":"Please correct errors before submitting this form.","validateRequiredField":"This is a required field.","honeypotHoneypotError":"Honeypot Error","fieldsMarkedRequired":"Fields marked with an <span class=\"ninja-forms-req-symbol\">*<\/span> are required","currency":"","unique_field_error":"A form with this value has already been submitted.","mp_breadcrumb":1,"mp_progress_bar":1,"mp_display_titles":0,"breadcrumb_container_styles_show_advanced_css":0,"breadcrumb_buttons_styles_show_advanced_css":0,"breadcrumb_button_hover_styles_show_advanced_css":0,"breadcrumb_active_button_styles_show_advanced_css":0,"progress_bar_container_styles_show_advanced_css":0,"progress_bar_fill_styles_show_advanced_css":0,"part_titles_styles_show_advanced_css":0,"navigation_container_styles_show_advanced_css":0,"previous_button_styles_show_advanced_css":0,"next_button_styles_show_advanced_css":0,"navigation_hover_styles_show_advanced_css":0,"drawerDisabled":false,"ninjaForms":"Ninja Forms","fieldTextareaRTEInsertLink":"Insert Link","fieldTextareaRTEInsertMedia":"Insert Media","fieldTextareaRTESelectAFile":"Select a file","fileUploadOldCodeFileUploadInProgress":"File Upload in Progress.","fileUploadOldCodeFileUpload":"FILE UPLOAD","currencySymbol":false,"thousands_sep":",","decimal_point":".","dateFormat":"m\/d\/Y","startOfWeek":"1","of":"of","previousMonth":"Previous Month","nextMonth":"Next Month","months":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthsShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"weekdays":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"weekdaysShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"weekdaysMin":["Su","Mo","Tu","We","Th","Fr","Sa"],"currency_symbol":"","beforeForm":"","beforeFields":"","afterFields":"","afterForm":""};form.fields=[{"objectType":"Field","objectDomain":"fields","editActive":false,"order":1,"label":"Name","type":"firstname","key":"name_1534537224848","label_pos":"hidden","required":1,"default":"","placeholder":"Name","container_class":"","element_class":"","admin_label":"","help_text":"<p><br><\/p>","custom_name_attribute":"fname","personally_identifiable":1,"wrap_styles_show_advanced_css":0,"label_styles_show_advanced_css":1,"element_styles_show_advanced_css":1,"cellcid":"c4008","drawerDisabled":false,"wrap_styles_border":"","wrap_styles_width":"","wrap_styles_margin":"","wrap_styles_padding":"","wrap_styles_float":"","wrap_styles_advanced":"","label_styles_border":"","label_styles_width":"","label_styles_font-size":"","label_styles_margin":"","label_styles_padding":"","label_styles_float":"","label_styles_advanced":"    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;","element_styles_border":"","element_styles_width":"","element_styles_font-size":"","element_styles_margin":"","element_styles_padding":"","element_styles_float":"","element_styles_advanced":"    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;","id":35,"beforeField":"","afterField":"","parentType":"firstname","element_templates":["firstname","input"],"old_classname":"","wrap_template":"wrap"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":2,"label":"Company","type":"textbox","key":"company_1534531178005","label_pos":"hidden","required":1,"default":"","placeholder":"Company","container_class":"","element_class":"","input_limit":"","input_limit_type":"characters","input_limit_msg":"Character(s) left","manual_key":false,"admin_label":"","help_text":"","mask":"","custom_mask":"","custom_name_attribute":"","personally_identifiable":"","wrap_styles_show_advanced_css":0,"label_styles_show_advanced_css":1,"element_styles_show_advanced_css":1,"cellcid":"c4011","drawerDisabled":false,"wrap_styles_border":"","wrap_styles_width":"","wrap_styles_margin":"","wrap_styles_padding":"","wrap_styles_float":"","label_styles_border":"","label_styles_width":"","label_styles_font-size":"","label_styles_margin":"","label_styles_padding":"","label_styles_float":"","label_styles_advanced":"    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;","element_styles_border":"","element_styles_width":"","element_styles_font-size":"","element_styles_margin":"","element_styles_padding":"","element_styles_float":"","element_styles_advanced":"    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;","cellOrder":1,"id":37,"beforeField":"","afterField":"","parentType":"textbox","element_templates":["textbox","input"],"old_classname":"","wrap_template":"wrap"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":3,"label":"Phone","type":"phone","cellcid":"c4014","key":"phone_1534537284943","label_pos":"hidden","required":1,"default":"","placeholder":"Phone Number","container_class":"","element_class":"","input_limit":"","input_limit_type":"characters","input_limit_msg":"Character(s) left","manual_key":false,"admin_label":"","help_text":"","mask":"","custom_mask":"","custom_name_attribute":"phone","personally_identifiable":1,"wrap_styles_border":"","wrap_styles_width":"","wrap_styles_margin":"","wrap_styles_padding":"","wrap_styles_float":"","wrap_styles_show_advanced_css":0,"label_styles_border":"","label_styles_width":"","label_styles_font-size":"","label_styles_margin":"","label_styles_padding":"","label_styles_float":"","label_styles_show_advanced_css":1,"label_styles_advanced":"    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;","element_styles_border":"","element_styles_width":"","element_styles_font-size":"","element_styles_margin":"","element_styles_padding":"","element_styles_float":"","element_styles_show_advanced_css":1,"element_styles_advanced":"    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;","cellOrder":1,"drawerDisabled":false,"id":39,"beforeField":"","afterField":"","parentType":"textbox","element_templates":["tel","textbox","input"],"old_classname":"","wrap_template":"wrap"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":4,"label":"Email Address","key":"email_address_1534532640403","type":"email","created_at":"2018-08-17 14:35:44","label_pos":"hidden","required":1,"placeholder":"Email Address","default":"","wrapper_class":"","element_class":"","container_class":"","admin_label":"","help_text":"","desc_text":"","wrap_styles_background-color":"","wrap_styles_border":"","wrap_styles_border-style":"","wrap_styles_border-color":"","wrap_styles_color":"","wrap_styles_height":"","wrap_styles_width":"","wrap_styles_font-size":"","wrap_styles_margin":"","wrap_styles_padding":"","wrap_styles_display":"","wrap_styles_float":"","wrap_styles_show_advanced_css":0,"wrap_styles_advanced":"","label_styles_background-color":"","label_styles_border":"","label_styles_border-style":"","label_styles_border-color":"","label_styles_color":"","label_styles_height":"","label_styles_width":"","label_styles_font-size":"","label_styles_margin":"","label_styles_padding":"","label_styles_display":"","label_styles_float":"","label_styles_show_advanced_css":1,"label_styles_advanced":"    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;","element_styles_background-color":"","element_styles_border":"","element_styles_border-style":"","element_styles_border-color":"","element_styles_color":"","element_styles_height":"","element_styles_width":"","element_styles_font-size":"","element_styles_margin":"","element_styles_padding":"","element_styles_display":"","element_styles_float":"","element_styles_show_advanced_css":1,"element_styles_advanced":"    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;","cellcid":"c4016","custom_name_attribute":"email","personally_identifiable":1,"drawerDisabled":false,"id":32,"beforeField":"","afterField":"","parentType":"email","element_templates":["email","input"],"old_classname":"","wrap_template":"wrap"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":5,"label":"Get In Touch","key":"submit_1534532937972","type":"submit","created_at":"2018-08-17 14:35:44","processing_label":"Processing","container_class":"","element_class":"","wrap_styles_background-color":"","wrap_styles_border":"","wrap_styles_border-style":"","wrap_styles_border-color":"","wrap_styles_color":"","wrap_styles_height":"","wrap_styles_width":"","wrap_styles_font-size":"","wrap_styles_margin":"","wrap_styles_padding":"","wrap_styles_display":"","wrap_styles_float":"","wrap_styles_show_advanced_css":1,"wrap_styles_advanced":"","label_styles_background-color":"","label_styles_border":"","label_styles_border-style":"","label_styles_border-color":"","label_styles_color":"","label_styles_height":"","label_styles_width":"","label_styles_font-size":"","label_styles_margin":"","label_styles_padding":"","label_styles_display":"","label_styles_float":"","label_styles_show_advanced_css":0,"label_styles_advanced":"","element_styles_background-color":"","element_styles_border":"","element_styles_border-style":"","element_styles_border-color":"","element_styles_color":"","element_styles_height":"","element_styles_width":"","element_styles_font-size":"","element_styles_margin":"","element_styles_padding":"","element_styles_display":"","element_styles_float":"","element_styles_show_advanced_css":0,"element_styles_advanced":"","submit_element_hover_styles_background-color":"","submit_element_hover_styles_border":"","submit_element_hover_styles_border-style":"","submit_element_hover_styles_border-color":"","submit_element_hover_styles_color":"","submit_element_hover_styles_height":"","submit_element_hover_styles_width":"","submit_element_hover_styles_font-size":"","submit_element_hover_styles_margin":"","submit_element_hover_styles_padding":"","submit_element_hover_styles_display":"","submit_element_hover_styles_float":"","submit_element_hover_styles_show_advanced_css":0,"submit_element_hover_styles_advanced":"","cellcid":"c4019","drawerDisabled":false,"id":34,"beforeField":"","afterField":"","label_pos":"above","parentType":"textbox","element_templates":["submit","button","input"],"old_classname":"","wrap_template":"wrap-no-label"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":999,"type":"hidden","label":"GA_Medium","key":"ga_medium","default":"","admin_label":"","wrap_styles_show_advanced_css":0,"label_styles_show_advanced_css":0,"element_styles_show_advanced_css":0,"cellcid":"c4242","manual_key":true,"drawerDisabled":false,"id":40,"beforeField":"","afterField":"","label_pos":"above","parentType":"hidden","element_templates":["hidden","input"],"old_classname":"","wrap_template":"wrap-no-label"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":999,"type":"hidden","label":"GA_Campaign","key":"ga_campaign","default":"","admin_label":"ga_campaign","wrap_styles_show_advanced_css":0,"label_styles_show_advanced_css":0,"element_styles_show_advanced_css":0,"cellcid":"c4318","manual_key":true,"id":41,"beforeField":"","afterField":"","label_pos":"above","parentType":"hidden","element_templates":["hidden","input"],"old_classname":"","wrap_template":"wrap-no-label"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":999,"type":"hidden","label":"GA_Source","key":"ga_source","default":"","admin_label":"ga_source","wrap_styles_show_advanced_css":0,"label_styles_show_advanced_css":0,"element_styles_show_advanced_css":0,"cellcid":"c4397","manual_key":true,"id":42,"beforeField":"","afterField":"","label_pos":"above","parentType":"hidden","element_templates":["hidden","input"],"old_classname":"","wrap_template":"wrap-no-label"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":999,"type":"hidden","label":"GA_Term","key":"ga_term","default":"","admin_label":"ga_term","wrap_styles_show_advanced_css":0,"label_styles_show_advanced_css":0,"element_styles_show_advanced_css":0,"cellcid":"c4479","manual_key":true,"id":43,"beforeField":"","afterField":"","label_pos":"above","parentType":"hidden","element_templates":["hidden","input"],"old_classname":"","wrap_template":"wrap-no-label"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":999,"type":"hidden","label":"GA_Content","key":"ga_content","default":"","admin_label":"ga_content","wrap_styles_show_advanced_css":0,"label_styles_show_advanced_css":0,"element_styles_show_advanced_css":0,"cellcid":"c4564","manual_key":true,"drawerDisabled":false,"id":44,"beforeField":"","afterField":"","label_pos":"above","parentType":"hidden","element_templates":["hidden","input"],"old_classname":"","wrap_template":"wrap-no-label"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":999,"type":"hidden","label":"Landing Page","key":"landing_page","default":"","admin_label":"landing_page","wrap_styles_show_advanced_css":0,"label_styles_show_advanced_css":0,"element_styles_show_advanced_css":0,"cellcid":"c4652","manual_key":true,"id":45,"beforeField":"","afterField":"","label_pos":"above","parentType":"hidden","element_templates":["hidden","input"],"old_classname":"","wrap_template":"wrap-no-label"},{"objectType":"Field","objectDomain":"fields","editActive":false,"order":999,"type":"hidden","label":"Conversion Page","key":"conversion_page","default":"","admin_label":"conversion_page","wrap_styles_show_advanced_css":0,"label_styles_show_advanced_css":0,"element_styles_show_advanced_css":0,"cellcid":"c5760","manual_key":true,"drawerDisabled":false,"id":46,"beforeField":"","afterField":"","label_pos":"above","parentType":"hidden","element_templates":["hidden","input"],"old_classname":"","wrap_template":"wrap-no-label"}];nfForms.push(form);</script>
                                <script id="tmpl-nf-mp-form-content" type="text/template">
                                    <div class="nf-mp-header"></div>
                                    <div class="nf-mp-body"></div>
                                    <div class="nf-mp-footer"></div>
                                </script>


                                <script id="tmpl-nf-mp-header" type="text/template">
                                    {{{ data.renderProgressBar() }}}
                                    {{{ data.renderBreadcrumbs() }}}
                                    {{{ data.renderPartTitle() }}}
                                </script>
                                <script id="tmpl-nf-mp-part-title" type="text/template">
                                    <h3>
                                        {{{ data.title }}}
                                    </h3>
                                </script>

                                <script id="tmpl-nf-mp-footer" type="text/template">
                                    {{{ data.renderNextPrevious() }}}
                                </script>

                                <script id="tmpl-nf-mp-next-previous" type="text/template">
                                    <ul class="nf-next-previous">
                                        <# if ( data.showPrevious ) { #>
                                            <li class="nf-previous-item">
                                                <input type="button" class="nf-previous" value="{{{ data.prevLabel }}}" />
                                            </li>
                                            <# } #>

                                                <# if ( data.showNext ) { #>
                                                    <li class="nf-next-item">
                                                        <input type="button" class="nf-next" value="{{{ data.nextLabel }}}" />
                                                    </li>
                                                    <# } #>
                                    </ul>
                                </script>

                                <script id="tmpl-nf-mp-breadcrumbs" type="text/template">
                                    <ul class="nf-breadcrumbs">
                                        <# _.each( data.parts, function( part, index ) { #>
                                            <li class="{{{ ( data.currentIndex == index ) ? 'active' : '' }}} {{{ ( part.errors ) ? 'errors' : '' }}}">
                                                <a href="#" class="nf-breadcrumb" data-index="{{{ index }}}">{{{ ( part.errors ) ? '' : '' }}} {{{ part.title }}}</a>
                                            </li>
                                            <# } ); #>
                                    </ul>
                                </script>

                                <script id="tmpl-nf-mp-progress-bar" type="text/template">
                                    <div class="nf-progress-container">
                                        <div class="nf-progress" style="width: {{{ data.percent }}}%;"></div>
                                    </div>
                                </script>
                                <script id="nf-tmpl-cell" type="text/template">
                                    <nf-fields></nf-fields>
                                </script>

                                <script id="nf-tmpl-row" type="text/template">
                                    <nf-cells></nf-cells>
                                </script>

                            </div>
                            <div id="contact-hp-mobile"><a class="o-link o-link--size-normal o-link--normal text-visibility" href="https://byjakt.com/contact/">let&#8217;s talk</a></div>

                        </div>


                    </div>
                </div>

                <footer class="footer__home">
                    <ul class="footer__home-menu">
                        <li class="footer__home-menu-item">
                            <a class="footer__home-menu-link text-visibility" target="" href="https://byjakt.com/partners/">Partners</a>
                        </li>
                        <li class="footer__home-menu-item">
                            <a class="footer__home-menu-link text-visibility" target="" href="https://byjakt.com/thoughts/">Thoughts</a>
                        </li>
                        <li class="footer__home-menu-item">
                            <a class="footer__home-menu-link text-visibility" target="_blank" href="http://instagram.com/byjakt">Pictures</a>
                        </li>
                        <li class="footer__home-menu-item">
                            <a class="footer__home-menu-link text-visibility" target="" href="https://angel.co/jakt/jobs">Jobs</a>
                        </li>
                    </ul>

                    <div class="footer__home-content">
                        <div class="footer__home-logo">
                            <a href="/" class="footer__home-link">
                                <img class="footer__logo-img" src="https://byjakt.com/wp-content/themes/jakt/public/assets/images/jakt-grey.svg" alt="JAKT" width="51" height="30" />
                            </a>
                        </div>
                        <div class="footer__home-social-media">
                            <nav>
                                <a class="footer__home-social-media-item" target="_blank" href="http://twitter.com/byjakt"><i class="ti-twitter-alt"></i></a>
                                <a class="footer__home-social-media-item" target="_blank" href="http://facebook.com/byjakt"><i class="ti-facebook"></i></a>
                                <a class="footer__home-social-media-item" target="_blank" href="http://instagram.com/byjakt"><i class="ti-instagram"></i></a>
                                <a class="footer__home-social-media-item" target="_blank" href="https://medium.com/thoughts-byjakt/"><i class="fa fa-medium"></i></a>
                            </nav>

                        </div>
                    </div>
                    <div class="footer__home-content">
                        <div class="footer__home-copy text-visibility">© Copyright 2019 JAKT</div>
                    </div>
                </footer>        <article>
        </section>
    </div>

    <div class="footer-contact-mobile">
        <div class="footer-contact-mobile__content">
            <a href="https://byjakt.com/contact/" class="footer-contact-mobile__link text-visibility">💬 Tap to get in touch</a>
        </div>
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWHZWQF"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Quantcast Tag -->
    <script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-P9MF0tE2s7hG5"
});
    </script>

    <noscript>
        <div style="display:none;">
            <img src="//pixel.quantserve.com/pixel/p-P9MF0tE2s7hG5.gif" border="0" height="1" width="1" alt="Quantcast" />
        </div>
    </noscript>
    <!-- End Quantcast tag -->
    <!-- JAKT Twitter -->
    <!-- Twitter universal website tag code -->
    <script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nz7wv');
twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->
    <!-- Anthony's Twitter -->
    <!-- Twitter universal website tag code -->
    <script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nz7wt');
twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->
    <script>
    var OFID = '5b745cf235f2342417a7efc9';
    </script>
    <script src="https://app.outfunnel.com/c.js"></script>		<!-- Quantcast Tag -->
    <script type="text/javascript">
			var _qevents = _qevents || [];

			(function() {
				var elem = document.createElement('script');
				elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
				elem.async = true;
				elem.type = "text/javascript";
				var scpt = document.getElementsByTagName('script')[0];
				scpt.parentNode.insertBefore(elem, scpt);
			})();

			_qevents.push({
				qacct:"p-P9MF0tE2s7hG5",
				source:"wp"
			});
    </script>

    <noscript>
        <div style="display:none;">
            <img src="//pixel.quantserve.com/pixel/p-P9MF0tE2s7hG5.gif" border="0" height="1" width="1" alt="Quantcast" />
        </div>
    </noscript>
    <!-- End Quantcast tag -->
   
    <script type="text/javascript">var fqpdxh14xce9ttywwrl2_shortcode = true;var hxyu94wjwjyborjot28g_shortcode = true;</script>
    <link rel='stylesheet' id='dashicons-css' href='https://byjakt.com/wp-includes/css/dashicons.min.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='nf-display-css' href='https://byjakt.com/wp-content/plugins/ninja-forms/assets/css/display-structure.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='nf-mp-display-css' href='https://byjakt.com/wp-content/plugins/ninja-forms-multi-part/assets/css/display-structure.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='nf-layout-front-end-css' href='https://byjakt.com/wp-content/plugins/ninja-forms-style/layouts/assets/css/display-structure.css?ver=3.0.25' type='text/css' media='all' />
    <script type='text/javascript' src='https://byjakt.com/wp-includes/js/wp-embed.min.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://byjakt.com/wp-includes/js/underscore.min.js?ver=1.8.3'></script>
    <script type='text/javascript' src='https://byjakt.com/wp-includes/js/backbone.min.js?ver=1.2.3'></script>
    <script type='text/javascript' src='https://byjakt.com/wp-content/plugins/ninja-forms/assets/js/min/front-end-deps.js?ver=3.3.19.1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var nfi18n = {"ninjaForms":"Ninja Forms","changeEmailErrorMsg":"Please enter a valid email address!","changeDateErrorMsg":"Please enter a valid date!","confirmFieldErrorMsg":"These fields must match!","fieldNumberNumMinError":"Number Min Error","fieldNumberNumMaxError":"Number Max Error","fieldNumberIncrementBy":"Please increment by ","fieldTextareaRTEInsertLink":"Insert Link","fieldTextareaRTEInsertMedia":"Insert Media","fieldTextareaRTESelectAFile":"Select a file","formErrorsCorrectErrors":"Please correct errors before submitting this form.","validateRequiredField":"This is a required field.","honeypotHoneypotError":"Honeypot Error","fileUploadOldCodeFileUploadInProgress":"File Upload in Progress.","fileUploadOldCodeFileUpload":"FILE UPLOAD","currencySymbol":"","fieldsMarkedRequired":"Fields marked with an <span class=\"ninja-forms-req-symbol\">*<\/span> are required","thousands_sep":",","decimal_point":".","dateFormat":"m\/d\/Y","startOfWeek":"1","of":"of","previousMonth":"Previous Month","nextMonth":"Next Month","months":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthsShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"weekdays":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"weekdaysShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"weekdaysMin":["Su","Mo","Tu","We","Th","Fr","Sa"]};
var nfFrontEnd = {"ajaxNonce":"07b5e8d60e","requireBaseUrl":"https:\/\/byjakt.com\/wp-content\/plugins\/ninja-forms\/assets\/js\/","use_merge_tags":{"user":{"address":"address","textbox":"textbox","button":"button","checkbox":"checkbox","city":"city","confirm":"confirm","date":"date","email":"email","firstname":"firstname","html":"html","hidden":"hidden","lastname":"lastname","listcheckbox":"listcheckbox","listcountry":"listcountry","listmultiselect":"listmultiselect","listradio":"listradio","listselect":"listselect","liststate":"liststate","note":"note","number":"number","password":"password","passwordconfirm":"passwordconfirm","product":"product","quantity":"quantity","recaptcha":"recaptcha","shipping":"shipping","spam":"spam","starrating":"starrating","submit":"submit","terms":"terms","textarea":"textarea","total":"total","unknown":"unknown","zip":"zip","hr":"hr"},"post":{"address":"address","textbox":"textbox","button":"button","checkbox":"checkbox","city":"city","confirm":"confirm","date":"date","email":"email","firstname":"firstname","html":"html","hidden":"hidden","lastname":"lastname","listcheckbox":"listcheckbox","listcountry":"listcountry","listmultiselect":"listmultiselect","listradio":"listradio","listselect":"listselect","liststate":"liststate","note":"note","number":"number","password":"password","passwordconfirm":"passwordconfirm","product":"product","quantity":"quantity","recaptcha":"recaptcha","shipping":"shipping","spam":"spam","starrating":"starrating","submit":"submit","terms":"terms","textarea":"textarea","total":"total","unknown":"unknown","zip":"zip","hr":"hr"},"system":{"address":"address","textbox":"textbox","button":"button","checkbox":"checkbox","city":"city","confirm":"confirm","date":"date","email":"email","firstname":"firstname","html":"html","hidden":"hidden","lastname":"lastname","listcheckbox":"listcheckbox","listcountry":"listcountry","listmultiselect":"listmultiselect","listradio":"listradio","listselect":"listselect","liststate":"liststate","note":"note","number":"number","password":"password","passwordconfirm":"passwordconfirm","product":"product","quantity":"quantity","recaptcha":"recaptcha","shipping":"shipping","spam":"spam","starrating":"starrating","submit":"submit","terms":"terms","textarea":"textarea","total":"total","unknown":"unknown","zip":"zip","hr":"hr"},"fields":{"address":"address","textbox":"textbox","button":"button","checkbox":"checkbox","city":"city","confirm":"confirm","date":"date","email":"email","firstname":"firstname","html":"html","hidden":"hidden","lastname":"lastname","listcheckbox":"listcheckbox","listcountry":"listcountry","listmultiselect":"listmultiselect","listradio":"listradio","listselect":"listselect","liststate":"liststate","note":"note","number":"number","password":"password","passwordconfirm":"passwordconfirm","product":"product","quantity":"quantity","recaptcha":"recaptcha","shipping":"shipping","spam":"spam","starrating":"starrating","submit":"submit","terms":"terms","textarea":"textarea","total":"total","unknown":"unknown","zip":"zip","hr":"hr"},"calculations":{"html":"html","hidden":"hidden","note":"note","unknown":"unknown"}},"opinionated_styles":""};
/* ]]> */
    </script>
    <script type='text/javascript' src='https://byjakt.com/wp-content/plugins/ninja-forms/assets/js/min/front-end.js?ver=3.3.19.1'></script>
    <script type='text/javascript' src='https://byjakt.com/wp-content/plugins/ninja-forms-conditionals/assets/js/min/front-end.js?ver=4.9.9'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var nfMPSettings = {"prevLabel":"Previous","nextLabel":"Next"};
/* ]]> */
    </script>
    <script type='text/javascript' src='https://byjakt.com/wp-content/plugins/ninja-forms-multi-part/assets/js/min/front-end.js?ver=3.0.24'></script>
    <script type='text/javascript' src='https://byjakt.com/wp-content/plugins/ninja-forms-style/layouts/assets/js/min/front-end.js?ver=3.0.25'></script>
    <!-- Form Abandonment Tracker -->
    <script type="text/javascript">
(function($) {
 $(document).ready(function() {
    $('form').find(':input').blur(function() {
      if (this.value === this.defaultValue) {
        var inputAction = 'skipped';
      } else {
        var inputAction = this.value ? 'completed' : 'skipped';
      }
                // compatible with post-5.0 Yoast-specific Universal GA code
                if (typeof __gaTracker !== 'undefined') {
                    __gaTracker('send', 'event', (this.form.id || 'form-without-id'), inputAction, $(this).attr('name'));
                //    console.log('Form Abandonment Tracking - __gaTracker Universal in use, sent: ' + (this.form.id || 'form-without-id') + ' Label: ' + this.name + ' Action: ' + inputAction);
                }
                //check if old _gaq is set - not Universal Analytics
                if (typeof _gaq !== 'undefined') {
                    _gaq.push(['_trackEvent', (this.form.id || 'form-without-id'), inputAction, $(this).attr('name')]);
                //    console.log('Form Abandonment Tracking - Google Analytics in use, sent: ' + (this.form.id || 'form-without-id') + ' Label: ' + this.name + ' Action: ' + inputAction);
                }
                // compatible with pre-5.1 Yoast GA code or for sites with manual Universal Analytics code added
                if (typeof ga !== 'undefined') {
                    ga('send', 'event', (this.form.id || 'form-without-id'), inputAction, $(this).attr('name'));
                //    console.log('Form Abandonment Tracking - Orig Universal in use, sent: ' + (this.form.id || 'form-without-id') + ' Label: ' + this.name + ' Action: ' + inputAction);
                }
  });
  $('form').find(':input').click(function() {
    if(this.type && this.type.toLowerCase() === 'submit') {
      inputAction = 'submitted';
                // compatible with post-5.0 Yoast Universal GA code
                if (typeof __gaTracker !== 'undefined') {
                    __gaTracker('send', 'event', (this.form.id || 'form-without-id'), inputAction, $(this).attr('name'));
                //    console.log('Form Abandonment Tracking - __gaTracker Universal in use, sent: ' + (this.form.id || 'form-without-id') + ' Label: ' + this.name + ' Action: ' + inputAction);
                }
                //check if _gaq is set too
                if (typeof _gaq !== 'undefined') {
                    _gaq.push(['_trackEvent', (this.form.id || 'form-without-id'), inputAction, $(this).attr('name')]);
                //    console.log('Form Abandonment Tracking - Google Analytics in use, sent: ' + (this.form.id || 'form-without-id') + ' Label: ' + this.name + ' Action: ' + inputAction);
                }
                // compatible with pre-5.1 Yoast GA code, for sites that are neglected lol
                if (typeof ga !== 'undefined') {
                    ga('send', 'event', (this.form.id || 'form-without-id'), inputAction, $(this).attr('name'));
                //    console.log('Form Abandonment Tracking - Orig Universal in use, sent: ' + (this.form.id || 'form-without-id') + ' Label: ' + this.name + ' Action: ' + inputAction);
                }
    }
 });
 });
})(jQuery);
    </script>
    <!-- End Form Abandonment Tracker -->

    <script id="tmpl-nf-layout" type="text/template">
        <span id="nf-form-title-{{{ data.id }}}" class="nf-form-title">
            {{{ ( 1 == data.settings.show_title ) ? '<h3>' + data.settings.title + '</h3>' : '' }}}
        </span>
        <div class="nf-form-wrap ninja-forms-form-wrap">
            <div class="nf-response-msg"></div>
            <div class="nf-debug-msg"></div>
            <div class="nf-before-form"></div>
            <div class="nf-form-layout"></div>
            <div class="nf-after-form"></div>
        </div>
    </script>

    <script id="tmpl-nf-empty" type="text/template">

    </script>
    <script id="tmpl-nf-before-form" type="text/template">
        {{{ data.beforeForm }}}
    </script>
    <script id="tmpl-nf-after-form" type="text/template">
        {{{ data.afterForm }}}
    </script>
    <script id="tmpl-nf-before-fields" type="text/template">
        <div class="nf-form-fields-required">{{{ data.renderFieldsMarkedRequired() }}}</div>
        {{{ data.beforeFields }}}
    </script>
    <script id="tmpl-nf-after-fields" type="text/template">
        {{{ data.afterFields }}}
        <div id="nf-form-errors-{{{ data.id }}}" class="nf-form-errors" role="alert"></div>
        <div class="nf-form-hp"></div>
    </script>
    <script id="tmpl-nf-before-field" type="text/template">
        {{{ data.beforeField }}}
    </script>
    <script id="tmpl-nf-after-field" type="text/template">
        {{{ data.afterField }}}
    </script>
    <script id="tmpl-nf-form-layout" type="text/template">
        <form>
            <div>
                <div class="nf-before-form-content"></div>
                <div class="nf-form-content {{{ data.element_class }}}"></div>
                <div class="nf-after-form-content"></div>
            </div>
        </form>
    </script>
    <script id="tmpl-nf-form-hp" type="text/template">
        <label for="nf-field-hp-{{{ data.id }}}" aria-hidden="true">
            {{{ nfi18n.formHoneypot }}}
            <input id="nf-field-hp-{{{ data.id }}}" name="nf-field-hp" class="nf-element nf-field-hp" type="text" value="" />
        </label>
    </script>
    <script id="tmpl-nf-field-layout" type="text/template">
        <div id="nf-field-{{{ data.id }}}-container" class="nf-field-container {{{ data.type }}}-container {{{ data.renderContainerClass() }}}">
            <div class="nf-before-field"></div>
            <div class="nf-field"></div>
            <div class="nf-after-field"></div>
        </div>
    </script>
    <script id="tmpl-nf-field-before" type="text/template">
        {{{ data.beforeField }}}
    </script>
    <script id="tmpl-nf-field-after" type="text/template">
        <#
    /*
        * Render our input limit section if that setting exists.
        */
        #>
        <div class="nf-input-limit"></div>
        <#
    /*
        * Render our error section if we have an error.
        */
        #>
        <div id="nf-error-{{{ data.id }}}" class="nf-error-wrap nf-error" role="alert"></div>
        <#
    /*
        * Render any custom HTML after our field.
        */
        #>
        {{{ data.afterField }}}
    </script>
    <script id="tmpl-nf-field-wrap" type="text/template">
        <div id="nf-field-{{{ data.id }}}-wrap" class="{{{ data.renderWrapClass() }}}" data-field-id="{{{ data.id }}}">
            <#
		/*
            * This is our main field template. It's called for every field type.
            * Note that must have ONE top-level, wrapping element. i.e. a div/span/etc that wraps all of the template.
            */
            #>
            <#
		/*
            * Render our label.
            */
            #>
            {{{ data.renderLabel() }}}
            <#
		/*
            * Render our field element. Uses the template for the field being rendered.
            */
            #>
            <div class="nf-field-element">{{{ data.renderElement() }}}</div>
            <#
		/*
            * Render our Description Text.
            */
            #>
            {{{ data.renderDescText() }}}
        </div>
    </script>
    <script id="tmpl-nf-field-wrap-no-label" type="text/template">
        <div id="nf-field-{{{ data.id }}}-wrap" class="{{{ data.renderWrapClass() }}}" data-field-id="{{{ data.id }}}">
            <div class="nf-field-label"></div>
            <div class="nf-field-element">{{{ data.renderElement() }}}</div>
            <div class="nf-error-wrap"></div>
        </div>
    </script>
    <script id="tmpl-nf-field-wrap-no-container" type="text/template">

        {{{ data.renderElement() }}}

        <div class="nf-error-wrap"></div>
    </script>
    <script id="tmpl-nf-field-label" type="text/template">
        <div class="nf-field-label">
            <label for="nf-field-{{{ data.id }}}"
                   id="nf-label-field-{{{ data.id }}}"
                   class="{{{ data.renderLabelClasses() }}}">{{{ data.label }}}{{{ ( 'undefined' != typeof data.required && 1 == data.required ) ? '<span class="ninja-forms-req-symbol">*</span>' : '' }}}{{{ data.maybeRenderHelp() }}}</label>
        </div>
    </script>
    <script id="tmpl-nf-field-error" type="text/template">
        <div class="nf-error-msg nf-error-{{{ data.id }}}">{{{ data.msg }}}</div>
    </script>
    <script id="tmpl-nf-form-error" type="text/template">
        <div class="nf-error-msg nf-error-{{{ data.id }}}">{{{ data.msg }}}</div>
    </script>
    <script id="tmpl-nf-field-input-limit" type="text/template">
        {{{ data.currentCount() }}} {{{ nfi18n.of }}} {{{ data.input_limit }}} {{{ data.input_limit_msg }}}
    </script>
    <script id="tmpl-nf-field-null" type="text/template">
    </script>
    <script id="tmpl-nf-field-firstname" type="text/template">
        <input type="text"
               value="{{{ data.value }}}"
               class="{{{ data.renderClasses() }}} nf-element"
               id="nf-field-{{{ data.id }}}"
        <# if( ! data.disable_browser_autocompletes ){ #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
            autocomplete="given-name"
            <# } else { #>
                name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
                {{{ data.maybeDisableAutocomplete() }}}
                <# } #>
                    {{{ data.renderPlaceholder() }}}

                    aria-invalid="false"
                    aria-describedby="nf-error-{{{ data.id }}}"
                    aria-labelledby="nf-label-field-{{{ data.id }}}"

                    {{{ data.maybeRequired() }}}
                    >
    </script>
    <script id='tmpl-nf-field-input' type='text/template'>
        <input id="nf-field-{{{ data.id }}}" name="nf-field-{{{ data.id }}}" aria-invalid="false" aria-describedby="nf-error-{{{ data.id }}}" class="{{{ data.renderClasses() }}} nf-element" type="text" value="{{{ data.value }}}" {{{ data.renderPlaceholder() }}} {{{ data.maybeDisabled() }}}
               aria-labelledby="nf-label-field-{{{ data.id }}}"
               {{{ data.maybeRequired() }}}>
    </script>
    <script id="tmpl-nf-field-textbox" type="text/template">
        <input type="text"
               value="{{{ data.value }}}"
               class="{{{ data.renderClasses() }}} nf-element"
               {{{ data.renderPlaceholder() }}}
               {{{ data.maybeDisabled() }}}
               {{{ data.maybeInputLimit() }}}
               id="nf-field-{{{ data.id }}}"
        <# if( ! data.disable_browser_autocomplete && -1 < [ 'city', 'zip' ].indexOf( data.type ) ){ #>
				name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
				autocomplete="on"
			<# } else { #>
				name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
				{{{ data.maybeDisableAutocomplete() }}}
			<# } #>

			aria-invalid="false"
			aria-describedby="nf-error-{{{ data.id }}}"
			aria-labelledby="nf-label-field-{{{ data.id }}}"

			{{{ data.maybeRequired() }}}
	>
    </script>
    <script id="tmpl-nf-field-tel" type="text/template">
        <input type="tel"
               value="{{{ data.value }}}"
               class="{{{ data.renderClasses() }}} nf-element"
               id="nf-field-{{{ data.id }}}"
        <# if( ! data.disable_browser_autocompletes ){ #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
            autocomplete="tel"
            <# } else { #>
                name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
                {{{ data.maybeDisableAutocomplete() }}}
                <# } #>
                    {{{ data.renderPlaceholder() }}}

                    aria-invalid="false"
                    aria-describedby="nf-error-{{{ data.id }}}"
                    aria-labelledby="nf-label-field-{{{ data.id }}}"

                    {{{ data.maybeRequired() }}}
                    >
    </script>
    <script id="tmpl-nf-field-email" type="text/template">
        <input type="email"
               value="{{{ data.value }}}"
               class="{{{ data.renderClasses() }}} nf-element"
               id="nf-field-{{{ data.id }}}"
        <# if( ! data.disable_browser_autocompletes ){ #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
            autocomplete="email"
            <# } else { #>
                name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
                {{{ data.maybeDisableAutocomplete() }}}
                <# } #>
                    {{{ data.renderPlaceholder() }}}
                    {{{ data.maybeDisabled() }}}

                    aria-invalid="false"
                    aria-describedby="nf-error-{{{ data.id }}}"
                    aria-labelledby="nf-label-field-{{{ data.id }}}"

                    {{{ data.maybeRequired() }}}
                    >
    </script>
    <script id="tmpl-nf-field-submit" type="text/template">
        <input id="nf-field-{{{ data.id }}}" class="{{{ data.renderClasses() }}} nf-element " type="button" value="{{{ data.label }}}" {{{ ( data.disabled ) ? 'disabled' : '' }}}>
    </script>
    <script id='tmpl-nf-field-button' type='text/template'>
        <button id="nf-field-{{{ data.id }}}" name="nf-field-{{{ data.id }}}" class="{{{ data.classes }}} nf-element">
            {{{ data.label }}}
        </button>
    </script>
    <script id="tmpl-nf-field-hidden" type="text/template">
        <input type="hidden" id="nf-field-{{{ data.id }}}" name="nf-field-{{{ data.id }}}" class="{{{ data.renderClasses() }}} nf-element" type="text" value="{{{ data.value }}}" {{{ data.renderPlaceholder() }}}>
    </script>
    <script>
            var post_max_size = '100';
            var upload_max_filesize = '50';
            var wp_memory_limit = '40';
    </script>

    <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/share.typeform.com/embed.js"></script>
    <script type="text/javascript" src="https://byjakt.com/wp-content/themes/jakt/public/assets/js/index.js"></script>
</body>
</html>

